<div style="padding:3px">
  <table class="table" style="width:100%; height:auto; padding:3px">
    <thead class="thead-dark">
      <tr style="height:50px">
        <th style="width:5%">Title</th>
        <th style="width:20%">Title</th>
        <th style="width:10%">Client</th>
        <th style="width:10%">Duration (Hours)</th>
        <th style="width:10%">Status</th>
        <th style="width:30%">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tasks %>  
    </tbody>
  </table>
</div>